@use '../styles/variables' as *;

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    min-height: 200px;
    width: 100%;
    margin: 0 auto;

    &.loader-small {
        padding: 30px 20px;
        min-height: 100px;

        .spinner {
            width: 32px;
            height: 32px;
            border-width: 3px;
        }
    }

    &.loader-large {
        padding: 100px 20px;
        min-height: 400px;

        .spinner {
            width: 64px;
            height: 64px;
            border-width: 5px;
        }
    }

    .spinner {
        width: 48px;
        height: 48px;
        border: 4px solid $border-color;
        border-top-color: $primary-color;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
    }

    .loader-message {
        margin-top: 16px;
        color: $text-secondary;
        font-size: 0.95rem;
        font-weight: 500;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}